* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --greenbg: #88ab33;
  --greencheck: #22c55e;
}

body {
  background-color: #0d0d0d;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
#container {
  max-width: 55rem;
  margin: 0 auto;
  margin-top: 2rem;
}
header h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon_tick {
  padding-top: 0.4rem;
}
.icon_tick svg {
  width: 2rem;
  height: 2rem;
  filter: invert(100%) sepia(2%) saturate(7104%) hue-rotate(304deg)
    brightness(128%) contrast(101%);
}

h1 .todo {
  padding-left: 1rem;
}
#main_tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.tasks {
  width: 30rem;
}
.task_done {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem 0;
}
.task_done .text_left {
  font-size: 1.4rem;
}
.task_done .text_left h3 {
  font-weight: normal;
  font-size: 2rem;
}
.task_done .circle_percent {
  background-color: var(--greenbg);
  width: 9rem;
  height: 9rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.next_task {
  padding: 2rem 0 1.5rem;
}
.next_task form {
  display: flex;
  justify-content: space-between;
}
.next_task #input_task {
  width: 89%;
  border-radius: 0.5rem;
  padding: 1rem 0.7rem;
  background-color: #1f2936;
  border: 0px;
  color: #fff;
}
#input_task:focus {
  outline: none;
}
#add_btn {
  background-color: var(--greenbg);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
}

#list_items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
}
.right_icons {
  display: flex;
  flex-wrap: nowrap;
}
.left_task {
  display: flex;
  align-items: center;
}
input[id="stroke"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1em;
  border-radius: 100%;
  border: 1px solid var(--greencheck);
  background-color: transparent;
  transition: background-color 0.5s ease;
}
input[id="stroke"]:focus {
  background-color: var(--greencheck);
}
input[id="stroke"]:focus ~ p.strikethrough {
  text-decoration: line-through;
  color: #fff;
}
